.like {
    display: inline-block;

}

.like a:link,
.like a:hover,
.like a:active,
.like a:visited {
    text-decoration: none;
    display: block;
}

.like a.like-up,
.like a.like-down {
    position: relative;
    margin: 0 10px;
    padding-left: 20px;
}

.like a.like-up.active:before,
.like a.like-down.active:before {
    color: red;
}

.like a.like-up:before {
    content: "\f170";
}

.like a.like-down:before {
    content: "\f171";
}

.like a.like-up:before,
.like a.like-down:before {
    font-family: Pixelion, Montserrat;
    position: absolute;
    display: inline-block;
    left: 0;
}
